USE [master]
GO
/****** Object:  Database [INGSW_23DB]    Script Date: 22/06/2026 21:00:35 ******/
CREATE DATABASE [INGSW_23DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INGSW_23DB', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\INGSW_23DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INGSW_23DB_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\INGSW_23DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INGSW_23DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INGSW_23DB]
GO
/****** Object:  Table [dbo].[Eventos_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos_23DB](
	[Id_Evento] [int] NOT NULL,
	[DNI] [nvarchar](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Evento] [nvarchar](50) NOT NULL,
	[Criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamFam_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamFam_23DB](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_23DB](
	[IdFamilia] [int] NOT NULL,
	[NombreFamilia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamPat_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamPat_23DB](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_23DB](
	[IdPatente] [int] NOT NULL,
	[NombrePatente] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_23DB](
	[IdRol] [int] NOT NULL,
	[NombreRol] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolFam_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFam_23DB](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolPat_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPat_23DB](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_23DB]    Script Date: 22/06/2026 21:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_23DB](
	[DNI] [nvarchar](8) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Bloqueado] [bit] NULL,
	[Activo] [bit] NULL,
	[IntentosFallidos] [int] NULL,
	[FechaUltimoIntento] [datetime] NULL,
	[UltimoIdioma] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Eventos_23DB]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Usuario_23DB] ([DNI])
GO
ALTER TABLE [dbo].[FamFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente_23DB] ([IdPatente])
GO
ALTER TABLE [dbo].[RolFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[RolFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
ALTER TABLE [dbo].[RolPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente_23DB] ([IdPatente])
GO
ALTER TABLE [dbo].[RolPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
USE [master]
GO
